header
  height :30px;
  background :rgb(227,228,230);
  font-size :12px;
  line-height 30px;
  color :rgb(143,143,143);
  position :relative;
  .topList
    width :990px;
    height :100%;
    margin-left 280px;
    a
      font-size 12px;
      height 100%;
    /*顶部定位区域*/
    .address
      position relative;
      /*顶部定位区域滑过样式*/
      &:hover .addressList
        display block;
      &:hover span
        border 1px solid rgb(200,200,200);
        border-bottom 1px solid #fff;
        position relative;
        z-index 100;
        background-color #fff;
      >span
        width 70px;
        height 30px;
        background url("/static/index_images/address.png") no-repeat 6px center;
        background-size 20px 17px;
        padding-left :27px
        color: rgb(143,143,143);
        float left;
        border: 1px solid rgba(227,228,230,0);
      /*顶部选择定位地域列表*/
      .addressList
        width 350px;
        border: 1px solid rgb(224,224,224);
        display none;
        padding 10px 15px;
        position absolute;
        left 0;
        top 29px;
        z-index 1;
        box-shadow 0 0 5px #ddd;
        background #fff;
        li
          float left;
          width 70px;
          height 25px;
          line-height 25px;
          text-align left;
          margin 1px 0;
          a
            padding 0 10px;
            font-size 10px;
            &:hover
              color red;
              .add_checked
                background rgb(221,12,44);
                color #fff
    /* 顶部右边选项列表 */
    .topNav
      float right;
      >li
        float left;
      li
        &:nth-child(1) a img
          width 40px;
          height 16px;
        &:nth-of-type(1) a
        &:nth-of-type(3) a
        &:nth-of-type(6) a
        &:nth-of-type(7) a
          background url("/static/index_images/down.png") no-repeat right center;
          background-size 15px 15px;
        a
          height 30px;
          padding 0 15px;
          border 1px solid rgba(227,228,230,0);
          &:hover
            color rgb(221,12,44);
      /* 顶部右边用户 */
      .rabbit
        .user
          position absolute;
          width 290px;
          border: 1px solid rgb(224,224,224);
          box-shadow: 0 0 5px #ddd;
        .navShow
          border 1px solid rgb(224,224,224);
          display none;
          position absolute;
          left 0;
          top 29px;
          box-shadow: 0 0 5px #ddd;
          background-color: #fff;
          .touxiang
            padding 10px 15px;
            img
              width 60px;
              height 60px;
              border-radius 50%;
              display inline-block;
            .touxiang_right
              float right;
              p
                &:nth-child(1)
                  background url("/static/index_images/plus.png") no-repeat left center;
                  padding-left 150px;
          .userScroll
            position relative;
            .scroll
              position relative;
              overflow hidden;
              height 80px;
              margin 15px auto
              width 220px;
              .dls
                position absolute;
                width 1000%;
                margin 0 auto;
                dl
                  float left;
                  width 60px;
                  padding 0 5px;
                  margin-right 6px;
                  dt
                    width 60px;
                    img
                      width 50%;
                      height 50%;
                      margin 10% 25%;
                  dd
                    line-height 35px;
                    text-align center;
                    cursor pointer;
                    &:hover
                      color:rgb(221,12,44);
            span
              display inline-block;
              position absolute;
              font-size 30px;
              top 15px;
              cursor pointer;
              color #ccc;
              font-style normal;
              &:hover
                color rgb(221,12,44);
            .turnLeft
              left 2px;
            .turnRight
              right 2px;
      .hover
        position relative;
        a
          border: 1px solid rgb(200,200,200);
          border-bottom: 1px solid #fff;
          position: relative;
          z-index 100;
          background-color: #fff;
        &:hover .navShow
          display block;
          z-index 40;
